/*Variables*/
:root {
  --color-primary: black;
  --color-secondary: white;
  --color-alternate: #19619f;
}

.aboutus_hero_wrapper {
  background-image: url(../images/16.jpg);
  background-size: cover;
  filter: grayscale(100%);
  filter: drop-shadow(50%);
  color: var(--color-secondary);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_text {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ourstory_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.centered_heading_wrapper {
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  padding: 0rem 8rem 0rem 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.ourvalues_wrapper {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.ourvalues_3item_grid_item {
  padding: 1rem;
}

.ourvalues_3item_grid_item_image {
  height: 2rem;
  width: 2rem;
}
.team_wrapper {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.team_grid_item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.team_grid_item_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.team_grid_item_image {
  height: 10rem;
  width: 10rem;
}
.ourstory_img {
  max-height: 50rem;
}

.team_social_icon{
  transition: color 0.3s;

}
.team_social_icon:hover{
  color: var(--color-alternate);
}
@media only screen and (max-width: 900px) {
  .ourstory_wrapper {
    grid-template-columns: 1fr;
  }
  .ourvalues_wrapper {
    grid-template-columns: 1fr;
  }

  .team_wrapper {
    grid-template-columns: 1fr;
  }
  .centered_heading_wrapper {
    padding: 0rem;
  }
 .aboutus_hero_wrapper {
  height: 90vh;
 }
}

/* CSS background animation */
.animation_body {
  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: black;
  --c2: white;
  --c3: white;
  --bg: var(--c3);
  --d: 12000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);

  height: 50vh;
  margin: 4rem 0rem 2rem 0rem;

  background-color: var(--bg);
  background-image: linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: calc(var(--p) * 1) calc(var(--p) * 0),
    calc(var(--p) * -1) calc(var(--p) * 1),
    calc(var(--p) * 1) calc(var(--p) * -1),
    calc(var(--p) * -1) calc(var(--p) * 0);
  animation: animation_color var(--d) var(--e) infinite,
    animation_position var(--d) var(--e) infinite;
}

@keyframes animation_color {
  0%,
  25% {
    --bg: var(--c3);
  }
  26%,
  50% {
    --bg: var(--c1);
  }
  51%,
  75% {
    --bg: var(--c3);
  }
  76%,
  100% {
    --bg: var(--c2);
  }
}

@keyframes animation_position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0),
      calc(var(--p) * -1) calc(var(--p) * 1),
      calc(var(--p) * 1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4),
      calc(var(--p) * -1) calc(var(--p) * 5),
      calc(var(--p) * 1) calc(var(--p) * 3),
      calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) * 2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) * 2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) * 5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  .animation_body {
    animation: none;
  }
}
