/*Variables*/
:root {
  --color-primary: black;
  --color-secondary: white;
  --color-alternate: #19619f;
}
/* Load local fonts */

@font-face {
  font-family: "Lemon Milk";
  font-weight: 400;
  src: url("../fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Lemon Milk";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/LEMONMILK-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "Lemon Milk";
  font-weight: 500;
  src: url("../fonts/LEMONMILK-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Lemon Milk";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/LEMONMILK-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "Lemon Milk";
  font-weight: 700;
  src: url("../fonts/LEMONMILK-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Lemon Milk";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/LEMONMILK-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ApfelGrotezk-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
}
@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ApfelGrotezk-Fett.woff2") format("woff2");
}
@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/ApfelGrotezk-Satt.woff2") format("woff2");
}

/* HTML Elements*/

input,
textarea,
select {
  font-family: inherit;
}

body {
  font-family: "Apfel Grotezk";
  font-weight: 400;
}
h1 {
  font-family: "LEMON MILK";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 4.2rem */
  margin: 0%;
}
h2 {
  font-family: "LEMON MILK";
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 3.6rem */
  margin: 0%;
}
h3 {
  font-family: "LEMON MILK";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 3rem */
}
h4 {
  font-family: "LEMON MILK";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 2.6rem */
}
h5 {
  font-family: "Apfel Grotezk";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.875rem */
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0%;
}
button {
  display: flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Apfel Grotezk";
  border-radius: var(--Border-Radius, 1.875rem);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  border: 1.5px solid var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-alternate);
  color: var(--color-secondary);
  border-color: var(--color-alternate);
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  border-radius: 2rem;
  filter: grayscale(100%);
  transition: 0.6s;
}
img:hover {
  filter: grayscale(0%);
}

form {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

/* text classes */

.text {
  font-family: "Apfel Grotezk";
  line-height: 150%; /* 1.875rem */
  margin: 0%;
}
.text_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.text.regular {
  font-size: 1rem;
}
.text.medium {
  font-size: 1.125rem;
  font-style: normal;
}

.text.semibold {
  font-weight: 500;
}
.text.large {
  font-size: 1.25rem;
}

/* navbar */
.logo.center {
  margin-left: -12rem;
}

.logo {
  color: var(--color-primary);
  text-align: center;

  font-family: "LEMON MILK";
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 150%; /* 3rem */
  cursor: pointer;
  text-shadow: -1.2px -1.2px 0 transparent, 1.2px -1.2px 0 transparent,
    -1.2px 1.2px 0 transparent, 1.2px 1.2px 0 transparent;
  transition: text-shadow 1s ease-out, color 1s ease-out; /* Only color will transition smoothly */
  letter-spacing: 2px;
}
.logo:hover {
  color: white; /* This will change instantly */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav {
  max-width: 1440px;
  height: 5rem;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-items {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-items > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav > #nav-check {
  display: none;
}
.nav > .nav-items > a {
  transition: background-color 0.3s, color 0.3s;
}
.nav > .nav-items > a:hover {
  color: var(--color-alternate);
}
/* Footer */

.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}
.footer_right {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footer_bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.footer_legal {
  display: flex;
  gap: 2rem;
}

.social_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.social_icon {
  max-width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.footer-form_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

/*Form*/
.input {
  padding: 0.75rem 5rem 0.75rem 0.75rem;
  border-radius: 0.2rem;
  font-family: inherit;
}
.footer-form-input1 {
  grid-area: 1 / 1 / 2 / 3;
}
.footer-form-input2 {
  grid-area: 1 / 3 / 2 / 5;
}

.footer-form-input3 {
  grid-area: 2 / 1 / 3 / 4;
}

.footer-form-input4 {
  grid-area: 2 / 4 / 3 / 5;
}
/*social link*/
.link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
  gap: 0.2rem;
}

.link:hover {
  color: #19619f;
}

.link:active {
  color: white;
  background-color: white;
  transform: scale(0.98);
}

/* custom css classes */

.btn-secondary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.btn-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 10rem;
}

.margin-small-top {
  margin-top: 2rem;
}
.margin-xsmall-top {
  margin-top: 1rem;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

/*underline effect nav*/
.nav-items a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.nav-items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-alternate);
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease;
}

.nav-items a.active::after, /* Show the underline for the active link */
.nav-items a:hover::after, /* Show the underline when hovered */
.nav-items a:focus::after {
  /* Show the underline when focused */
  transform: scaleX(1); /* Expand the underline to cover the text */
}
.nav-items a.active {
  color: var(--color-alternate); /* White text for the active link */
}
.nav-items a.active::after {
  transform: scaleX(0);
}
/* Responsive styles*/

@media only screen and (max-width: 900px) {
  /*html elements*/
  .logo {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    word-wrap: break-word;
  }
  h2 {
    font-size: 2.5rem;
    margin: 0%;
    word-wrap: break-word;
  }
  form {
    justify-content: center;
  }

  /*navbar*/

  .nav {
    padding-left: 2rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  .logo.center {
    margin-left: 0%;
  }
  .navbar_icon {
    width: 100%;
  }
  .nav > .nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 104vw;
    background-color: var(--color-secondary);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    left: -2rem;
    top: 5rem;
    z-index: 100;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    justify-content: start;
    overflow: hidden;
  }
  .first_mobile_nav {
    margin-top: 2rem;
  }

  .nav > .nav-items > a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
  }
  .nav > #nav-check:not(:checked) ~ .nav-items {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-items {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  /* footer*/
  .footer_top {
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
  .footer_bottom {
    flex-direction: column;
  }
  .footer_right {
    align-items: center;
  }
  .email_input {
    padding-right: 0.75rem;
  }

  /* Form*/
  .footer-form_wrapper {
    display: flex;
    flex-direction: column;
  }
  /*custom css*/

  .container {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .margin-small-top {
    margin-top: 1rem;
  }
  .margin-xsmall-top {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
