.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.collection-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.collection-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.product-item {
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-image {
  width: 100%;
  height: auto;
  filter: grayscale(0%);
}
.product-name {
  font-size: inherit;
}
.product-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}
.order-button {
  width: 100%;
}
.collection-info {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}