.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.product-item {
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-image {
  width: 100%;
  height: auto;
  filter: grayscale(0%);
}
.product-name {
  font-size: inherit;
}
.product-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}
.order-button {
  width: 100%;
}
