* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
}
.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 20%;
  padding: 0.5rem;
}

.collection-item.selected img {
  filter: grayscale(0%);
}
.collection-image {
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  
}

.collection-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.product-item {
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
}
.product-image {
  width: 100%;
  height: auto;
  filter: grayscale(0%);
}
.product-name {
  font-size: inherit;
}
.product-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}
.order-button {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .collection-item {
    width: 50%;
    
  }
  .product-item {
    width: 50%;
  }
 
}
@media only screen and (max-width: 500px) {
  .collection-item {
    width: 100%;
    padding: 0rem;
    margin-bottom: 2rem;
  }
  .product-item {
    width: 100%;
  }
  .collection-image{
    height: 20rem;
  }
}
